# Your API keys should be stored here
OPENAI_API_KEY=

# To enable real-time web research, add a SERPAPI key here
SERPAPI_KEY=

# DeepSeek API key
DEEPSEEK_API_KEY=

# Groq API key
GROQ_API_KEY=

# xAI Grok API key
XAI_GROK_API_KEY= 